.jumbotron{
	background-color: #fffa19;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10 px 0 10px;
	background-color: #fffa19;
	margin-bottom: 0px;
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100px;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}